/* ========================= */
/* = Service Videos Styles = */
/* ========================= */

.view-product-video-search .catalog-product-image img {
  margin: auto;
}

.view-product-video-search .catalog-product-manufacturer {
  text-align: center;
  background-color: #ddd;
  margin: 5px 0px;
}

.view-product-video-search .catalog-product-title {
  text-align: center;
  height: 35px;
}

.view-product-video-search .service-videos a.btn {
  width: 100%;
  margin: 5px 0px;
}

.ui-accordion-header {
	width: 100%;
  margin: 5px;
  display: inline-block;
  padding: 6px 12px;
  font-size: 4vw;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid #000;
  background-color: #ddd;
  border-radius: 4px;
}

#pvl-overlay {
  background-color: #000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.8;
  z-index: 500;
}

#product-video-lightbox,
#pvl-overlay {
/*  display: none;*/
}

#close-box {
  background-color: red;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 15px;
  border: 2px solid red;
  color: #fff;
  font-size: 19px;
  position: absolute;
  right: -5px;
  top: -5px;
}

#close-box:hover {
  cursor: pointer;
  background-color: #000;
  color: red;
}

#product-video-lightbox {
  position: fixed;
  top:25%;
  left:25%;
  background-color: #000;
  z-index: 9999;
}

#product-video-lightbox #video-frame iframe {
  border: none;
}

.video-lightbox {
  color: #283275;
  display: inline-block;
}

.video-lightbox:hover {
  color: #3D4DB5;
  cursor: pointer;
}

@media (min-width:768px) {
  
	div.view-product-videos > div.view-header {
    width: 50%;
		float:left;
	}

	div.view-product-videos > div.view-content {
		width: 50%;
		float:right;
	}
	
	.ui-accordion-header {
    	font-size: 1.5vw;
    }

	.ui-accordion-header:first-child {
		margin-top:65px;	
	}
}